.bar{
    height:20px;
    width:40px;
    padding: 2px;
    text-align: end;
    white-space: nowrap;
    position: absolute;
    top:0px;
    left:0px;
    background-color: green;
    /* border:1px solid black; */
}
.race-bar{
    padding:10px;
    color:#fff;    
    position: relative;
}
.label-inside{
}
.label-outside{
    position: absolute;
    color:#333;
    margin:0px 5px;
}