.bar{
    height:20px;
    width:40px;
    padding: 2px;
    text-align: end;
    white-space: nowrap;
    border-right: 1px solid black;
    border-left: 1px solid black;
    /* border:1px solid black; */
}